/* Searchpanel.module.css */
/* .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  justify-content: space-around;
} */

/* 
.header1 {
  font-size: 24px;
}

.header2 {
  font-size: 18px;
}

.searchWrapper {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

.searchinput {
  padding: 8px;
  margin-right: 8px;
}

.selectcity {
  margin-top: 10px;
  padding: 8px;
}

.movielist {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  padding: 10px;
  gap: 10px;

}

.listofmovies {
  font-weight: 100px;

}

.movieimg {
  justify-content: auto;
  padding: 100px;
  border-radius: 10px;
  border: 1px solid black;

}

.movieimg:hover{
  background-color:pink;
  transform: rotateY(20deg)
  
} */

/* Add more styles as needed */