/* Searchpanel.module.css */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  justify-content: space-around;
}


.header1 {
  font-size: 24px;
}

.header2 {
  font-size: 18px;
}

.searchWrapper {
  /* display: flex;
  align-items: center; */
  margin-top: 20px;
}

.searchinput {
  padding: 8px;
  margin-right: 8px;
}

.selectcity {
  margin-top: 10px;
  padding: 8px;
}

/* Add more styles as needed */
