.btn{
    width: 50px;
  height: 40px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 18px;
  
  margin: 2px;
 
  
   
}


.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.btn-selected{
    background-color: blue;
}


.book-btn{

    background-color: #ccc;
    border-radius: 5px;
    font-size: 18px;
    
    margin: 2px;


}

.container{
    
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    
    }