.outline-box {
    /* background-image: url("https://buffer.com/cdn-cgi/image/w=1000,fit=contain,q=90,f=auto/library/content/images/size/w600/2023/10/free-images.jpg"); */
    outline: 10px;
    justify-content: center;
    border: 1px solid black;
    padding: 60px 45px;
  width: 550px;
    margin-top:80px;
}

.registerbtn{
  
    padding: 5px;
    font-size: larger;
    width: 80px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 60px;
    color: black;
    background-color: rgb(92, 129, 232);
}

.movietag{
    color: purple;
}

.wrapper{
    background-color:rgb(224, 202, 212);
    border-radius: 20px;
    padding: 40px;
    margin-top: 30px;
    box-shadow: 0px 0px 29.4px lightblue;
}

.movietag{
    font-family: 'Courier New', monospace;
    font-size: larger;
    font-size: 50px;
}